ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_provider TEXT DEFAULT 'vapi';
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_model TEXT DEFAULT 'gpt-4-turbo-preview';
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_language TEXT DEFAULT 'English';
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_greeting TEXT;
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_speed NUMERIC DEFAULT 1.0;
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_temperature NUMERIC DEFAULT 0.7;
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_interruptions BOOLEAN DEFAULT true;
ALTER TABLE mentors ADD COLUMN IF NOT EXISTS voice_auto_start BOOLEAN DEFAULT false;
